<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{myarticle.title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <h1>POST DETAIL</h1>

    <h2> {{myarticle.title}} </h2>

    <p> {{myarticle.content}} </p>

    <p> {{myarticle.published_date}} </p>


<a href='/post_new/'> Post New Content Here </a>
    </body>
</html>