<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

<div class="container">
    {% if login_form.errors %}
   {{login_form.errors}}
{% endif %}
       <h1>LOGIN HERE</h1>
<form method="POST" action="/users/login/" class="post-form"> {% csrf_token %}
 {{ login_form.as_p }}
  <button type="submit" class="btn btn-primary save btn btn-default">Login</button>
</form>

    </body>
</html>